@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import "tailwindcss";


body {
  max-width: 1440px;
  margin: 0 auto;
  height: 100vh;
  background-color: #F8FAFC;
  font-family: "Plus Jakarta Sans";
}

#root {
  height: 100%
}