@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import "tailwindcss";


body {
  max-width: 1440px;
  margin: 0 auto;
  height: 100vh;
  background-color: #F8FAFC;
  font-family: "Plus Jakarta Sans";
}

#root {
  height: 100%
}

@theme {
  
  --breakpoint-xxs: 250px;
  --breakpoint-xs: 320px;
  
}

.print-emp-status {
  display: none;
}

@media print {
  nav, button, .search-bar, .no-print, .toggle {
    display: none !important;
  }

.print-emp-status {
  display: block;
  /* margin-left: 38rem !important; */
}

  body {
    background-color: white !important;
    padding: 0;
    margin: 0;
  }

  .print-container {
    width: 100% !important,
    max-width: none !important;
    margin: 0 !important;
    padding: 0 !important;
  }

  .employee-card {
    break-inside: avoid;
    border: 1px solid #e2e8f0 !important;
    margin-bottom: 1rem;
  }

  /* .employee-image {
    width: 4rem;
    height: 3rem;
  } */
}